---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/ui/Header.astro";
import Hero from "@/components/ui/Hero.astro";
import About from "@/components/ui/About.astro";
import Clubs from "@/components/landing/Committees.astro";
import GymkhanaTeams from "@/components/landing/Leadership.jsx";
import Events from "@/components/landing/Events.astro";
import Quote from "@/components/Quote.astro";
import Footer from "@/components/ui/Footer.astro";
import "@/styles/global.css";
---

<Layout title="Student Gymkhana | IIIT Vadodara" description="IIITV Student Gymkhana | Committees | Clubs">
  <Header />
  <main class="flex-1">
    <Hero
      title="Unleash Your Potential at"
      tag_line="Discover a vibrant community of students dedicated to personal growth, fitness, and campus life."
      image="/placeholder.svg"
      type_true={true}
      p_button={{ show: false }}
      s_button={{ show: false }}
    />
    <About
      title="About Student Gymkhana"
      desc="The IIITV Gymkhana is the student government body that represents the diverse interests and aspirations of the student community at IIIT Vadodara. We are committed to fostering a vibrant campus life, promoting student welfare, and empowering our peers to reach new heights."
    />
    <Clubs />
    <GymkhanaTeams client:load />
    <Events />
    <Quote />
  </main>
  <Footer />
</Layout>
