<section class="py-12 md:py-24 px-6">
    <div class="container mx-auto">
        <blockquote class="text-center text-2xl font-medium italic">
            "To be creative means to be in love with life. You can be creative
            only if you love life enough that you want to enhance its beauty,
            you want to bring a little more music to it, a little more poetry to
            it, a little more dance to it."
        </blockquote>
        <div class="mt-6 text-center text-muted-foreground">- Osho</div>
    </div>
</section>
