<footer class="bg-primary text-primary-foreground py-6 px-6">
    <div class="container mx-auto flex items-center justify-between">
        <a href="/club/dot" ><p class="text-sm">&copy; 2024 Student Gymkhana IIITV | Dot</p></a>
        <div class="flex items-center gap-4">
            <a href="#" class="hover:underline">Privacy Policy</a>
            <a href="#" class="hover:underline">Terms of Service</a>
        </div>
    </div>
</footer>
